PORT=8080
FRONTEND_ORIGIN=http://localhost:3000
GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"..."}
GOOGLE_SHEET_ID=your_google_sheet_id
GMAIL_USER=aiwanaitsolution@gmail.com
GMAIL_PASS=your_gmail_app_password
